<section class="about" id="about">
    <h2>About Us</h2>
    <p>At School Essentials Hub, we are passionate about providing top-quality stationery and supplies for students of all ages. With us, you will always be ready for a successful academic journey!</p>
</section>