.location-description {
    margin-bottom: 20px;
    color: #444;
    font-size: 18px;
}


.map-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.map-link {
    margin-top: 15px;
}

.map-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.map-link a:hover {
    text-decoration: underline;
}
