@page "/products"

<div class="search-wrapper">
    <input type="text" class="search-input" placeholder="ابحث عن منتج">
    <span class="search-icon">&#128269;</span>
</div>

<div class="full-width-box">
    <h2 class="section-title">المنتجات</h2>
    <div class="product-grid">
        <div class="product-card">
            <img src="imgs/IMG_2098.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
          <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
        <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>  <div class="product-card">
            <img src="imgs/IMG_1922.JPG" alt="Product Image" class="product-image">
            <h3 class="product-title">مفروشات الهانم السورية</h3>
            <p class="product-price">300EGP</p>
            <button class="add-to-cart-btn">اضف الى العربة</button>
        </div>
    </div>
</div>
