@page "/"
@using WebUI.Site.Components
@inject IJSRuntime JS

<div class="container">
    <div class="box left-box">
        <ImageSlider/>
    </div>
    <div class="box right-box">
       <HeroContent/>
    </div>
</div>

<div class="search-wrapper">
    <SearchBar/>
</div>

<div class="full-width-box">
    <ProductSlider />
</div>

<div class="full-width-box">
    <ProductSlider />
</div>

<div class="image-box">
    <CategoryContent />
</div>

<div class="location-section">
   <LocationContent />
</div>

<footer class="site-footer">
   <FooterContent />
</footer>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initSwiperSliders");
        }
    }
}