<h2>Add Category</h2>
<form>
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input type="text" id="categoryName" name="categoryName" placeholder="Enter category name" required />
    </div>

    <div class="input-container">
        <label for="picture">Picture</label>
        <input type="file" id="picture" />
    </div>

    <button type="submit">Create Category</button>
</form>