@page "/admin/products/edit/{Id:guid}"
@using WebUI.Dashboard.Components
@inject IProductAdminService ProductService
@inject NavigationManager NavigationManager

@layout DashLayout

@if (existingProduct == null)
{
    <p>Loading product...</p>
}
else
{
    <div class="container">
        <div class="product-form-box">
            <AddProductPanel ExistingProduct="existingProduct" />
        </div>
        <div class="CategoryPanel">
            <div class="Category">
                <CategoryPanel />
            </div>
            <div class="category-list">
                <CategoryListPanel />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ProductDto? existingProduct;

    protected override async Task OnInitializedAsync()
    {
        existingProduct = await ProductService.GetProductByIdAsync(Id);
    }
}
