<div class="product-card expired">
    <h3>❌ Expired Products</h3>
    <ul>
        <li>
            <img src="https://tse2.mm.bing.net/th?id=OIP.Zu0nFQS5EzFSl2P-nunp0gHaE8&pid=Api" alt="Milk" class="product-img" />
            <span class="separator">|</span>
            Milk <span class="separator">|</span> Expired on 2025-03-25
        </li>
        <li>
            <img src="https://tse1.mm.bing.net/th?id=OIP.XEY8_wfLvA6mFqSMutJZIgHaE8&pid=Api" alt="Cheese" class="product-img" />
            <span class="separator">|</span>
            Cheese <span class="separator">|</span> Expired on 2025-03-22
        </li>
        <li>
            <img src="https://tse1.mm.bing.net/th/id/OIP.kRM5KEhOFBTqYI1dGSh5HgHaE8?pid=Api" alt="Yogurt" class="product-img" />
            <span class="separator">|</span>
            Yogurt <span class="separator">|</span> Expired on 2025-03-20
        </li>
    </ul>
</div>

<div class="product-card recent">
    <h3>🆕 Recently Added</h3>
    <ul>
        <li>
            <img src="https://tse4.mm.bing.net/th?id=OIP.QqEOu8JLMWQ-oIFi2G0XRwHaJ8&pid=Api" alt="Organic Honey" class="product-img" />
            <span class="separator">|</span>
            Organic Honey <span class="separator">|</span> Added on 2025-04-01
        </li>
        <li>
            <img src="https://tse1.mm.bing.net/th?id=OIP.o0i1PcgULBLX3aWcBMqunQHaE8&pid=Api" alt="Almond Butter" class="product-img" />
            <span class="separator">|</span>
            Almond Butter <span class="separator">|</span> Added on 2025-04-01
        </li>
        <li>
            <img src="https://tse3.mm.bing.net/th?id=OIP.gXM51q4wH5JSMw20tRBzIQHaE8&pid=Api" alt="Protein Shake" class="product-img" />
            <span class="separator">|</span>
            Protein Shake <span class="separator">|</span> Added on 2025-03-31
        </li>
    </ul>
</div>
