@page "/Product"
@using WebUI.Dashboard.Components
@layout DashLayout

<div class="container">
    <div class="product-form-box">
        <AddProductPanel />
    </div>
    <div class="CategoryPanel">
        <div class="Category">
            <CategoryPanel />
        </div>
        <div class="category-list">
            <CategoryListPanel />
        </div>
    </div>    
</div>