@page "/Dash"
@using WebUI.Dashboard.Components
@layout DashLayout

<div class="stats-panel">
    <StatsPanel />
</div>

<div class="orders-box">
    <OrdersPanel />
</div>

<div class="product-boxes">
    <ExpiredProductsPanel />
</div>

@code {

}
