<div class="image-title">الاصناف</div>
<div class="image-row">
    <div class="image-container">
        <img src="imgs/IMG_2283.JPG" alt="Image 1">
        <div class="image-overlay">عنوان الصورة 1</div>
    </div>
    <div class="image-container">
        <img src="imgs/IMG_2098.JPG" alt="Image 2">
        <div class="image-overlay">عنوان الصورة 4</div>
    </div>
    <div class="image-container">
        <img src="imgs/IMG_2098.JPG" alt="Image 2">
        <div class="image-overlay">عنوان الصورة 2</div>
    </div>
    <div class="image-container">
        <img src="imgs/IMG_1922.JPG" alt="Image 3">
        <div class="image-overlay">عنوان الصورة 3</div>
    </div>
    <div class="image-container">
        <img src="imgs/IMG_2098.JPG" alt="Image 2">
        <div class="image-overlay">عنوان الصورة 4</div>
    </div>
    <div class="image-container">
        <img src="imgs/IMG_2098.JPG" alt="Image 2">
        <div class="image-overlay">عنوان الصورة 2</div>
    </div>
</div>