<div class="hero">
    <h1 class="title">مفروشات الهانم السورية</h1>
    <p class="description">محل مفارش الأحلام يقدم تشكيلة واسعة من المفارش الفاخرة والملايات والبياضات بأنواعها المختلفة. يتميز بجودة المواد المستخدمة والتصاميم العصرية التي تلبي جميع الأذواق. إضافة إلى ذلك، يقدم المحل خدمة التوصيل المجاني داخل المدينة وخدمة تفصيل مفارش حسب الطلب.</p>
    <button class="button">اطلب الان</button>
</div>