<div class="hero">
    <h1 class="title">مفروشات الهانم السورية</h1>
    <p class="description">محل مفارش الأحلام يقدم تشكيلة واسعة من المفارش الفاخرة والملايات والبياضات بأنواعها المختلفة. يتميز بجودة المواد المستخدمة والتصاميم العصرية التي تلبي جميع الأذواق. إضافة إلى ذلك، يقدم المحل خدمة التوصيل المجاني داخل المدينة وخدمة تفصيل مفارش حسب الطلب.</p>
    <button class="button">اطلب الان</button>
</div>

<div class="container swiper">
    <div class="card-wrapper">
        <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_2098.JPG" alt="Card Image" class="card-image">
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_1922.JPG" alt="Card Image" class="card-image">  
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_2283.JPG" alt="Card Image" class="card-image">    
                </a>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script>
    new Swiper('.card-wrapper', {
        autoplay: {
            delay: 4000, // Time in milliseconds
            disableOnInteraction: false,
        },
        loop: true,
        spaceBetween: 30,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        breakpoints : {
            0: {
                slidesPerView : 1
            },
            768: {
                slidesPerView : 1
            },
            1024: {
                slidesPerView : 1
            }
        }
    });
</script>