<div class="slider-container swiper">
    <div class="card-wrapper">
        <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_2098.JPG" alt="Card Image" class="card-image">
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_1922.JPG" alt="Card Image" class="card-image">
                </a>
            </li>
            <li class="card-item swiper-slide">
                <a href="#" class="card-link">
                    <img src="imgs/IMG_2283.JPG" alt="Card Image" class="card-image">
                </a>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="swiper-button-next">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
</div>