<h2>موقعنا</h2>
<p class="location-description">
    العبور , الحي التاسع , مول دارين , الدور الاول
</p>
<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110335.49803728666!2d31.37250646194439!3d30.208995153292864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581be46399289b%3A0x7601967023b9cade!2z2KfZhNmH2KfZhtmFINin2YTYs9mI2LHZitipIGVsaGFuZW0gYWxzb3VyeWE!5e0!3m2!1sen!2seg!4v1743478142616!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
</div>
<div class="map-link">
    <a href="https://www.google.com/maps/place/YOUR_LOCATION_LINK" target="_blank">
        افتح الموقع في خرائط Google
    </a>
</div>