@page "/Register"
@layout AuthLayout

<div class="login-wrapper">
    <div class="login-box">
        <!-- Form Section -->
        <div class="login-form-section">
            <a href="/" class="back-link">
                <i class="fa-solid fa-arrow-right"></i> الصفحة الرئيسية
            </a>
            <h2 class="login-title">إنشاء حساب جديد</h2>
            <form>
                <label for="name">الاسم الكامل</label>
                <input type="text" id="name" placeholder="الاسم" required>

                <label for="email">البريد الالكتروني</label>
                <input type="email" id="email" placeholder="example@mail.com" required>

                <label for="password">كلمة السر</label>
                <input type="password" id="password" placeholder="••••••" required>

                <label for="confirm-password">تأكيد كلمة السر</label>
                <input type="password" id="confirm-password" placeholder="••••••" required>

                <div class="login-actions">
                    <span class="new-account">هل لديك حساب؟</span>
                    <button type="submit" class="login-btn">تسجيل</button>
                </div>
            </form>
        </div>

        <!-- Image Section -->
        <div class="login-image-section">
            <img src="imgs/IMG_2283.JPG" alt="Register Image">
        </div>
    </div>
</div>
