<header>
    <div class="navbar-container">
        <div class="logo">School Hub</div>

        <nav class="navbar-items">
            <a href="#">Home</a>
            <a href="#products">Products</a>
            <a href="#contact">Contact</a>
        </nav>

        <div class="cart-icon">
            🛒
        </div>

        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="/">الصفحة الرئيسية</a></li>
                <li><a class="menu__item" href="/Products">المنتجات</a></li>
                <li><a class="menu__item" href="#">التواصل</a></li>
                <li><a class="menu__item" href="#">تسجيل دخول</a></li>
                <li><a class="menu__item highlighted" href="#"><p>انشئ حساب</p></a></li>
            </ul>
        </div>
    </div>
</header>
