<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            الهانم السورية
        </div>
        <div class="navbar-items">
            <ul>
                <li>التواصل</li>
                <li>المنتجات</li>
                <li class="navbar-item-active">الصفحة الرئيسية</li>
            </ul>
        </div>
        <div class="navbar-button">
            <button>انشئ حساب</button>
            <a>تسجيل دخول</a>
        </div>
    </div>
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item" href="#">الصفحة الرئيسية</a></li>
            <li><a class="menu__item" href="#">المنتجات</a></li>
            <li><a class="menu__item" href="#">التواصل</a></li>
            <li><a class="menu__item" href="#">تسجيل دخول</a></li>
            <li><a class="menu__item highlighted" href="#"><p>انشئ حساب</p></a></li>
        </ul>
    </div>
</div>
<div class="navbar-divider"></div>
